/* FEATURE POSTS */

.future_posts_gallery {
	background: #fff;
	font-size: 0;
}

.preview {
	float: left;
	width: 300px;
}

.preview_image img {
	display: block;
}

.preview_content {
	padding: 20px 24px 22px 21px;
	box-sizing: border-box;
	text-align: justify;
	font-family: 'Roboto', sans-serif;
	font-size: 19px;
	font-weight: 400;
}


.preview_content_title {
	text-align: left;
	font-size: 19px;
	font-weight: 400;
	margin-bottom: 20px;
}

.preview_content .paragraph {
	height: 80px;
	overflow: hidden;
	margin-bottom: 25px;
}

.preview_content p:last-child {
	color: #6e6e6e;
	font-size: 15px;
	line-height: 20px;
	display: inline-block;
}

.preview_content p:last-child img {
	width: 9px;
	height: 12px;
	vertical-align: middle;
}

.preview_content p:last-child span {
	margin-right: 8px;
}


.preview_content p:last-child a {
	text-decoration: none;
}
.preview_content p:last-child a:visited {
	color: inherit;
}






@media screen and (max-width: 1236px) {
	
	.future_posts_gallery {
		max-width: 600px;
		margin: 0 auto;
	}
}

@media screen and (max-width: 636px) {

	.future_posts_gallery {
		width: 300px;
	}

	.preview:nth-child(even) .preview_image {
		position: relative;
		bottom: 206px;
	}

	.preview:nth-child(even) .preview_content {
		position: relative;
		top: 215px;
	}
}