/* HEADER */

.header {
    background-image: url(../img/6053842677-797ac938ab-o.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    min-width: 303px;
}

.header_wrap_menu {
    background: #fff;
    opacity: 0.8;
    line-height: 100px;
}

.header_wrap_menu .container {
    margin: auto;
}

.header_emblem {
    float: left;
    display: inline-block;

}

.header_emblem a {
    text-decoration: none;
}

.header_emblem a:visited {
    color: #000;
}

.header_emblem div {
    width: 83px;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.header_title {
    font-size: 26px;
}

.header_title > span {
    font-weight: 900;
}

.header_emblem div + span {
    vertical-align: middle;
}

.header_menu_nav {
    display: block;
    vertical-align: middle;
    margin-left: 235px;
    margin-right: 128px;
}

.header_menu {
    padding: 0;
    margin: 0 auto;
    width: 100%;
}

.header_menu:last-of-type {
    display: none;
}

.header_menu > li {
    float: right;
    display: inline-block;
    padding-left: 39px;
    text-align: right;
    font-size: 14px;
    box-sizing: border-box;
}

.header_menu > li:last-child {
    padding-left: 0;
}

.header_menu li:last-child a {
    position: relative;
}

.header_menu  li:last-child a::before {
    content: "";
    width: 5px;
    height: 10px;
    background: #0075d0;
    position: absolute;
    top: 50%;
    left: -10px;
    margin-top: -6px;
    display: inline-block;
}

.header_menu_nav a {
    text-decoration: none;
    color: inherit;
}

.header_menu_nav a:hover {
    text-decoration: underline;
}


.header_menu_btn {
    width: 100%;
    background: #0061B1;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #fff;
    display: none;
    line-height: 50px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}

.header_menu_btn:hover {
    cursor: pointer;
}

#header_menu_checkbox {
    display: none;
}


.button_container {
    display: inline-block;
    vertical-align: middle;
    float: right;
}

.cart {
    width: 20px;
    padding: 0;
    background-color: transparent;
    border: none;
    margin-right: 40px;
    vertical-align: middle;
}

.magnifier {
    background-color: #0076d1;
    width: 25px;
    height: 25px;
    padding-top: 3px;
    border-radius: 13px;
    border: none;
    vertical-align: middle;
}

.cart:hover,
.magnifier:hover {
    cursor: pointer;
}






.slogan {
    margin: auto;
    padding-top: 21.4%;
    padding-bottom: 11%;
    color: #fff;
    font-family: 'Open sans', sans-serif;
    text-align: center;
}

.slogan > h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 29px;
}

.slogan > h2 {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 58px;
}

button.full_view {
    width: 150px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 19px;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 400;
    background-color: transparent;
}

.slogan > p {
    margin-bottom: 150px;
}

button.arrow_down {
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border: 2px solid #7a7373;
    border-radius: 30px;
    background-color: transparent;
}

button.arrow_down .internal_button {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    line-height: 40px;
    border: 2px solid #7a7373;
    background-color: transparent;
    border-radius: 20px;
}

.image_arrow_down {
    width: 23px;
    height: 12px;
    vertical-align: middle;
}

button.full_view,
button.arrow_down:hover {
    cursor: pointer;
}






@media screen and (max-width: 946px) {
    .header_menu_nav {
        line-height: 50px;
        margin-right: 64px;
    }

    .header_menu {
        margin-right: 0;
    }

    .header_menu > li {
        width: 33%;
        padding: 0;
    }

    .magnifier{
        margin-top: 27px;
        display: block;
    } 

    .cart {
        display: block;
        margin: 0;
        margin-top: 16px;
    }
}

@media screen and (max-width: 620px) {
    .header_wrap_menu {
        opacity: 1;
    }

    .header_menu_nav {
        position: absolute;
        background: #455868;
        top: 101px;
        left: 0;
        width: 100%;
        margin: 0;
        min-width: 303px;
    }

    .header_menu_btn {
        display: block;
    }

    .header_menu:first-of-type {
        display: none;
    }

    #header_menu_checkbox:checked ~ .header_menu:last-of-type {
        display: block;
        transition-duration: 2s;
    }

    .header_menu > li {
        width: 100%;
        text-align: center;

    }

    .header_menu_nav a {
        display: block;
        padding: 10px;
        line-height: 50px;
        font-size: 1.5em;
        color: #fff;
        text-decoration: none;
    }

    .header_menu_nav a:hover {
        text-decoration: none;
        color: #000;
    }

    .header_menu > li:hover {
        background: #fff;
    }

    .arrow_down {
        visibility: hidden;
    }
}

