

.paragrafW {
	width: 38%;
	margin: 1% auto;
	padding-top: 1.7%;
	text-align: center;
}

@media screen and (max-width: 660px) {/* ДОБАВИЛА для адаптива */
	.paragrafW {
		width: 80%;
	}
}

@media screen and (max-width: 320px) {/* ДОБАВИЛА для адаптива */
	.paragrafW {
		width: 90%;
	}
}

.faces {
	padding: 3.5% 1% 7% 1%

}

.galery__item {
	position: relative;
	width: 22.66%;
	float: left;
	margin: 1%;
}

@media screen and (max-width: 660px) {/* ДОБАВИЛА для адаптива */
	.galery__item {
		width: 48%;
	}
}

@media screen and (max-width: 320px) {/* ДОБАВИЛА для адаптива */
	.galery__item {
		width: 100%;
	}
}
    


.galery__item:hover .soc {
	visibility: visible;
}

img {
	width: 100%
}

.fases-t {
	padding-top: 1.8%;
	margin: 0 auto;
	font-size: 15px;
	font-weight: 700;
	line-height: 20px;
	text-transform: uppercase;
	text-align: center;
}
.fases-pr {
	padding-top: 1%; /*не 18px на учет автоотступов*/
	margin: 0 auto;
	color: #0075d0;
	/*font-family: Roboto;*/
	/*font-size: 15px;*/
	font-weight: 700;
	line-height: 20px;
	text-align: center;
}

.fases-pr::after {
	content: '';
	width: 9px;
    height: 9px;
    display: block;
   	background-color: #959595;
	border-radius: 50%;
    margin: 1.2% auto 0;
}

.soc {
	position: absolute;
	/*top: 11px;*/
	left: 0;
	width: 18%;
	/*width: 100;
	height: 120px;*/
	z-index: 1;
	padding-top: 4%;
	padding-bottom: 1%;
	/*margin-top: 10px;*/
	visibility: hidden;	
}


.soc1 {padding-bottom: 8px;

}

.cnopka {
/* padding-top: 3%;
margin-top: 5%; */
max-width: 244px;
border-radius: 27px;
border: 2px solid #ffffff;
text-align: center;

}

.cnopka-text {
padding-top: 2%;
padding-bottom: 2%;	
margin: 7% auto 0;
font-size: 17px;
/*font-weight: 400;
*/line-height: 20px;
text-transform: uppercase;
/*text-align: center;*/

}
.container-blue {
	width: 100%;
	/*margin-top: 50px;*/
	padding-top: 50px;
	padding-bottom: 50px;
	background: url(../img/rectangle-12.png);
	color: #ffffff;
	text-align: center;

}

.treugolnik {
	width: 0;
	height: 0;
	border-left: 13px solid transparent;
	border-right: 13px solid transparent;
	border-top: 13px solid #ffffff;
	z-index: 20;
	margin: 0 auto;
	position: absolute;
	top: -50px;
	left: 0;
	right: 0;
	/*margin-top: -50px;*/
}

.treugolnik-polog{
	position: relative;


}

.clients_menu {
	margin-top: 127px;
	text-align: center;
	text-align-last: center;
	margin: 0 auto;
/* 	padding-right: -4%; */
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
	font-weight: 700;
	line-height: 20px;
	text-transform: uppercase;
	font-size: 0;

}


@media screen and (max-width: 955px) {/* ДОБАВИЛА для адаптива */
	.clients_menu {
		width: 52%;
	}
}

@media screen and (max-width: 520px) {/* ДОБАВИЛА для адаптива */
	.clients_menu {
		width: 100%;
	}
}

.clients_menu .client {
	min-width: 202px;
	height: 92px;
	border: 1px solid #cacaca;
	text-align: center;
	box-sizing: border-box;
/*	padding-top: 35px;
	padding-bottom: 35px;*/
	line-height: 92px;
	/*float: left;*/
	margin-right: 4%;
	margin-bottom: 2%;
	display: inline-block;
	font-size: 30px;

}

/* .clients_menu .client:first-child {
	margin-left: 123px;
} */

.clients_menu .client:last-child {
	margin-right: 0;
}

 span.art {
	background: #000;
	color: #eee;
	font-weight: 400;
	padding-left: 5px;
	padding-right: 5px;
}

span.design {
	font-weight: 300;
}

/*
2-й вариант
.triangle_black {
	width: 48px;
	display: inline-block;
	vertical-align: -14px;
	position: relative;
	z-index: 1;
}

.triangle_grey {
	width: 48px;
	position: absolute;
	top: 0;
	left: 8px;
	z-index: -1;
}*/

.clients_menu li.triangle_black {
	position: relative;
	text-align: right;
	padding-right: 14px;
}

li.triangle_black::before {
	content: "";
	border: 48px solid transparent;
	border-left-color: #969696;
	position: absolute;
	transform: matrix(1, 0, 0, 0.5, 0, 0);
	left: 20px;
}

li.triangle_black::after {
	content: "";
	border: 48px solid transparent;
	border-left-color: #000;
	position: absolute;
	transform: matrix(1, 0, 0, 0.5, 0, 0);
	left: 12px;
}


span.the_next {
	text-transform: none;
	font-weight: 100;
}

.client_menu_pointers {
	width: 114px;
	margin: 60px auto 0;
	font-size: 0;
}

.client_menu_pointer {
	width: 20px;
	height: 20px;
	border: 1px solid #c2c2c2;
	border-radius: 10px;
	display: inline-block;
	margin-left: 8px;
}

.client_menu_pointer:hover {
	cursor: pointer;
}

.client_menu_pointer:first-child {
	margin-left: 0;
	border-color: #000;
}

.padding_bottom {
	padding-bottom: 150px;
}